@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	height: 100%;
}

.grid-country-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
